nav{
    background-color: #000055;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    
}

/* SEARCH */
.search-container{
    background-color: #333;
    color: #fff;
    width: 100%;
    height: 100;
    padding: 1rem 0.5rem;
    overflow-y: auto;
    text-align: center;
    box-shadow: 0 0 5px #00000080;
}

.search input{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    background-color: #fff;
}

.search button{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #ccc;
    background-color: transparent;
    cursor: pointer
}
.search button:hover{
    color: #fff;
    background-color: #555;
}

/* SEARCH RESULT */
.results ul{
    list-style: none;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;

}
.results ul li{
    background-color: #555;
    color: #ccc;
    cursor: pointer;
    padding: 5px;
    margin: 3px;
    border-radius: 8px;
}

.results ul li:hover{
    color: #fff;
     background-color: #666;
}
.results p{
    margin-top: 1rem;
    font-size: 0.9rem;
    font-weight: bold;
}
/* USER PROFILE */
.edit{
    flex: 1;
    width: auto;
}
.form-container{
    display:none;
    width: 100%;
    max-width: 768px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000001a;
}

.form-container.active{
    display: block;
}

.form-container h1{
    margin-bottom: 20px;
    font-size: 3rem;
    color: #333;
    background-color: #ddd;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 5px #0000001a;
}

.form-container form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container button{
    margin: auto;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.form-container button:hover{
    background-color: #222;
    color: #fff;
}

/* FIELDS */

.field{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;  

}

.field label{
    font-weight: bold;
    color: #333;
    font-size: 0.9rem;
}
.field input, .field select{
    flex: 1;
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    background-color: #fff;
}

.form-container p{
    text-align: left;
    font-size: 0.7rem;
    font-weight: bold;
}
.form-container p::before{
    content: "*";
    color: red;
    font-size: 1.1rem;
}

.field-container.required label::after{
    content: "*";
    color: red;
    font-size: 1.1rem;
}

.error{
    display: none;
    color: red;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    padding-top: 3px;
}

.field-container.invalid .error{
    display: block;
}


@media (min-width: 768px){
    main{
        flex-direction: row;
    }
    .search-container{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 250px;
    }

    .results ul{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    
    }

    .field{
        flex-direction: row;
    }
    .field input, .field select{
        max-width: 70%;
    }
    .error{
        text-align: right;
    }
}