nav{
    background-color: #000055;
}

main{
    min-height: 100vh;
}
/* MODAL */
.modal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #000000cc;
    justify-content: center;
    align-items: center;
    z-index: 100;
    
}
.modal-content{
    position: relative;
    background-color: #fff;
    padding: 25px;
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    
}
.modal span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #333;
    font-size: 2rem;
    cursor: pointer;
}
.modal span:hover{
    color: #f00;
}

#news-modal form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

#news-modal input, #news-modal textarea{
    width: 100%;
    
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    background-color: #fff;
}
#news-modal button{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: #ccc;
    cursor: pointer;
}
#news-modal button:hover{
    background-color: #444;
    color: #fff;
}

#news-modal h2{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.modal.active {
    display: flex;
}

@media (min-width: 768px){
    #news-modal .modal-content{
        max-width: 768px;
    }
    #news-modal input, #news-modal textarea{
        max-width: 80%;
    }
    #news-modal button{
        margin: auto;
        width: 25%;
    }
}

/* NEWS MODAL */
#create-new{
    /* display: block; */
    /* position: relative; */
    /* top: 20px;
    left: 20px; */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px #00000080;
    background-color: #333;
    color: #ccc;
    cursor: pointer;
}
#create-new:hover{
    background-color: #444;
    color: #fff;
}





#edit-new{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #ccc;
    background-color: transparent;
    cursor: pointer
}
#edit-new:hover{
    color: #00f;
    /* background-color: #555; */
}

#delete-new{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #ccc;
    background-color: transparent;
    cursor: pointer
}
#delete-new:hover{
    color: #f00;
    /* background-color: #555; */
}